{% extends 'base.html.twig' %}

{% block title %}Train{% endblock %}

{% block body %}
    <h1>Train</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ train.id }}</td>
            </tr>
            <tr>
                <th>Numero_train</th>
                <td>{{ train.numeroTrain }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('train_index') }}">retour à la liste</a>

    <a href="{{ path('train_edit', {'id': train.id}) }}">edit</a>

    {{ include('train/_delete_form.html.twig') }}
{% endblock %}
