{% extends 'base.html.twig' %}

{% block title %}Les passagers{% endblock %}

{% block body %}
<section class="container d-flex align-items-center justify-content-between" style="margin-top:100px;">   <div class="col-md-6">
    <h1>Liste des passagers </h1>
</section>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passager in passagers %}
            <tr>
                <td>{{ passager.id }}</td>
                <td>{{ passager.nom }}</td>
                <td>{{ passager.prenom }}</td>
                <td>{{ passager.adresse }}</td>
                <td>{{ passager.telephone }}</td>
                <td>
                    <a href="{{ path('passager_show', {'id': passager.id}) }}">show</a>
                    <a href="{{ path('passager_edit', {'id': passager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">retour à la liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('passager_new') }}">Creer un passagers</a>
{% endblock %}
